html {
    font-size: 16px;
}

.ant-btn.ant-btn-sm.ant-btn-icon-only >span,
.ant-btn.ant-btn-icon-only > span {
    transform: scale(1);
}

.remixicon {
    vertical-align: -0.125em;
}

.ant-menu-inline-collapsed >.ant-menu-item .remixicon {
    vertical-align: -0.215em;
}

// 滚动条
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: @color-border;
    border-radius: @radius-base;

    &:hover {
        background: @color-text-disabled;
    }
}

:focus {
    outline: none;
}